#homepage h1 {
    text-align: center;
    margin: 20px;
    font-family: "o-b";
}

#home-links-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a,
a:hover {
    color: black;
}

.home-link {
    border: 2px solid grey;
    padding: 20px;
    margin: 10px;
}

.home-link h2 {
    font-family: "o-m";
}
