#informations {
    margin-left: 10%;
    background-color: #f6f9ff;
    height: 100%;
}

#informations-content {
    display: flex;
    flex-direction: column;
    padding: 7%;
    max-width: 85%;
}

.informations-text p.informations-title {
    border-bottom: 3px solid #8db4d9;
    width: 50%;
    font-family: "o-sb";
    font-size: 20px;
    margin: 10px 0;
}

.informations-text p {
    font-family: "o-m";
    font-size: 18px;
}

.information-textarea {
    white-space: pre-wrap;
}

.informations-text .linkedin img{
    width: 30px;
}

.informations-text .linkedin img:hover {
    color: #8db4d9;
}