@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@font-face {
    font-family: "o-l";
    src: url("./fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "o-r";
    src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "o-m";
    src: url("./fonts/Open_Sans/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "o-sb";
    src: url("./fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "o-b";
    src: url("./fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "o-eb";
    src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

html,
body,
div{
  margin: 0;
  padding: 0;
}